.product-filter {
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-bottom: 1px solid $clr_grey_brighter;
  @media (max-width: 800px) {
    border-bottom: none;
    height: auto;
    line-height: 65px;
  }
  &__item {
    font-size: 32px;
    margin-right: 54px;
    display: inline-block;
    color: $clr_black;
    position: relative;
    @media (max-width: 700px) {
      font-size: 25px;
    }
    @media (max-width: 550px) {
      display: block;
      margin: 0 auto;
    }
    &:hover a::after {
      height: 3px;
    }
    a {
      display: inline-block;
      position: relative;
      text-align: center;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        background-color: $clr_red;
        transition: all 0.5s ease;
      }
    }
    &--active a::after  {
      height: 3px;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
.product-title {
  font-size: 50px;
  color: $clr_black;
  text-align: center;
  padding: 30px 0 0;
}
.breadcrumbs {
  display: inline-block;
  margin-bottom: 26px;
  &__item {
    color: #aeaeae;
    display: inline-block;
    margin-right: 13px;
    &:last-child {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &::after {
      content: '';
      width: 6px;
      height: 6px;
      display: inline-block;
      background: 100% url(../img/icons/arrow.svg) no-repeat;
      position: relative;
      right: -5px;
      bottom: 2px;
    }
  }
}
.breadcrumbs-container {
  width: 100%;
  text-align: center;
}
.products-list {
  vertical-align: middle;
  text-align: justify;
  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  &__item {
    border: 1px solid $clr_grey_brighter;
    width: 30.77%;
    margin-right: 2.2%;
    display: inline-block;
    margin-bottom: 20px;
    &:nth-child(3n+3) {
      margin-right: 0;
      @media (max-width: 770px) {
        margin-right: 2.2%;
        @media (max-width: 500px) {
          margin-right: 0;
        }
      }
    }
    &:nth-child(2n) {
      @media (max-width: 770px) {
        margin-right: 0;
      }
    }
    @media (max-width: 770px) {
      width: 48%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
    &-name {
      font-size: 20px;
      line-height: 1.2;
      color: inherit;
      text-decoration: none;
      float: left;
      width: 50%;
      padding-top: 20px;
      @media (max-width: 920px) {
        width: 100%;
      }
    }
    &-img {
      width: 100%;
      height: 350px;
      display: block;
      text-align: center;
      padding-top: 40px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    &-btn {
      display: inline-block;
      width: 40px;
      background-color: transparent;
      border: none;
      background-image: url(../img/icons/arrow.svg);
      background-size: 12px 10px;
      background-position: center center;
      background-repeat: no-repeat;
      height: inherit;
      cursor: pointer;
      &:first-child {
        transform: rotate(90deg);
      }
      &:last-child {
        transform: rotate(-90deg);
      }
      &-add {
        width: 67px;
        background-color: $clr_red;
        background-image: url(../img/icons/libra-plus.png);
        background-position: center center;
        background-repeat: no-repeat;
        height: 68px;
        margin-top: -1px;
        border: none;
        display: inline-block;
        cursor: pointer;
      }
    }
    &-price {
      height: 65px;
      @include clearfix();
      width: 100%;
      @media (max-width: 1120px) {
        height: auto;
      }
      &-value {
        font: 48px PFDinTextPro-Light, sans-serif;
        min-height: 65px;
        white-space: nowrap;
        float: left;
        text-indent: 15px;
        width: calc(100% - 225px);
        line-height: 75px;
        @media (max-width: 1220px) {
          width: 100%;
        }
        sup {
          font-size: 24px;
          position: relative;
          top: -13px;
        }
      }
      &-left {
        float: right;
        background-color: $clr_grey_bright;
        width: 225px;
        height: 67px;
        form {
          white-space: nowrap;
        }
      }
      &-numb {
        height: 65px;
        width: 155px;
        display: inline-block;
        vertical-align: top;
      }

    }
    &-info {
      height: 90px;
      line-height: 90px;
      border-top: 1px solid $clr_grey_brighter;
      border-bottom: 1px solid $clr_grey_brighter;
      padding: 0 4.8%;
      @include clearfix();
      @media (max-width: 1220px) {
        height: auto;
      }
      &-packaging{
        font: 20px DINPro,  sans-serif;
        line-height: inherit;
        float: right;
        &--libra {
          background-image: url(../img/icons/libra.png);
          background-repeat: no-repeat;
          padding-left: 30px;
          background-position: left center;
        }
      }
    }
    &-quantity {
      display: inline-block;
      vertical-align: top;
      border: none;
      width: 70px;
      height: 43px;
      text-align: center;
      position: relative;
      top: 10px;
    }
  }
}