.product-popup {
  transform: scale(0);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  &--active {
    transform: scale(1);
  }
}

.product-cart {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 100px;
  padding-left: 7%;
  max-width: 1086px;
  background-color: $clr_white;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  @media (max-width: 800px) {
    padding-left: 15px;
  }
  @media (max-width: 500px) {
    padding-left: 0;
  }
  &__overlay {
    content: '';
    width: 100%;
    height:100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__img {
    width: 40%;
    display: table-cell;
    @media (max-width: 800px) {
      text-align: center;
    }
    img {
      width: 100%;
      height: 100%;
      @media (max-width: 800px) {
        width: auto;
        height: auto;
      }
      @media (max-width: 450px) {
        width: 100%;
      }
    }
    @media (max-width: 800px) {
      display: block;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__row {
    margin-bottom: 70px;
    @media (max-width: 800px) {
      margin: 0 auto 70px;
    }
    @include clearfix();
  }
  &__btn {
    position: absolute;
    left: 32px;
    top: 23px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &::before, &::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: $clr_pink;
    }
    &:before {
      transform: rotate(45deg);
      top: 0;
    }
    &:after {
      transform: rotate(-45deg);
      top: 0;
    }

  }
  &__container {
    width: 100%;
    padding-bottom: 83px;
    @include  clearfix();
  }
  &__info {
    padding-left: 1.8%;
    width: 48.8%;
    display: table-cell;
    vertical-align: top;
    @media (max-width: 800px) {
      display: block;
      width: 100%;
    }
  }
}
.product-info {
  &__art {
    font-size: 14px;
    font-family: PFDinTextPro-Light;;
    span {
      color: $clr_pink;
    }
  }
  &__title {
    font-size: 60px;
    max-width: 370px;
    margin-bottom: 15px;
  }
  &__packging {
    padding-left: 35px;
    background-image: url(../img/icons/libra.png);
    background-size: 23px 26px;
    background-repeat: no-repeat;
    font: 20px PFDinTextPro-Light, sans-serif;
    line-height: 33px;
  }
  &__price {
    font-size: 42px;
    margin-bottom: 15px;
    text-indent: 18px;
    display: inline-block;
    &--discount {
      position: relative;
      &::after {
        content: '';
        width: 2px;
        height: 103px;
        background-color: #f3564f;
        transform: rotate(-73deg);
        display: block;
        position: absolute;
        top: -23px;
        left: 53px;
      }
    }
    sub {
      font-size: 22px;
      position: relative;
      top: -15px;
    }

  }
  &__sale-price {
    margin-left: 18px;
    display: inline-block;
    font-size: 72px;
    position: relative;
    top: 10px;
    sub {
      font-size: 36px;
      position: relative;
      top: -29px;
    }
  }
  &__text {
    @media (max-width: 800px) {
      padding-left: 10px;
    }
    &-title {
      font-size: 30px;
      margin-bottom: 20px;
      max-width: 8640px;
      font-family: PFDinTextPro-Light, sans-serif;
    }
    &-list {
      font-size: 18px;
      font-family: PFDinTextPro-Light, sans-serif;
      color: $clr_light_grey;
      line-height: 30px;
      position: relative;
      li {
        position: relative;
        text-indent: 12px;
        &::before {
          content: '';
          width: 6px;
          height: 6px;
          background-color: $clr_pink;
          position: absolute;
          left: 0;
          top: 10px;
          border-radius:  50%;
        }
      }
    }
  }
  &__quantity {
    white-space: nowrap;
  }
}
.products-list__item-quantity--border {
  border: 1px solid $clr_grey_brighter;
}
.product-info__button--pink {
  width: 196px;
  height: 67px;
  text-align: center;
  display: inline-block;
  background-color: $clr_pink;
  border: none;
  border-radius: 33px;
  font-size: 30px;
  color: $clr_white;
  text-transform: uppercase;
  line-height: 67px;
  margin-left: 34px;
  cursor: pointer;
  font-family: PFDinTextCompPro-Light, sans-serif;
}