@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

//input,
//textarea {
//  @include input-placeholder {
//    color: $grey;
//  }
//}
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
