//Project colors:

$clr_dark_blue: #3a4148;
$clr_white: #ffffff;
$clr_white_darker: #e8e8e8;
$clr_black: #353535;
$clr_black_dark: #1d1d1d;
$clr_grey: #6f6f6f;
$clr_light_grey: #a5a5a5;
$clr_grey_dark: #323232;
$clr_red: #f24841;

