.products-row {
  width: 100%;
  @include clearfix();
  &-item {
    height: 550px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: top center;
    float: left;
    background-size: cover;
    display: table;
    @media screen and (max-width: 725px) {
      width: 100%;
      height: 250px;
      margin-right: 10px;
    }
    &:hover .products-row-item__btn {
      background-color: #f24841;
    }
    &__text {
      text-align: center;
      font: 20px PFDinTextPro-Regular, sans-serif;
      margin-top: 30px;
      @media screen and (max-width: 1030px) {
        font-size: 18px;
      }
      @media screen and (max-width: 750px) {
        font-size: 15px;
      }
    }
    &__content {
      vertical-align: middle;
      display: table-cell;
      padding: 0 15px;
      text-align: center;
      color: $clr_white;
    }
    &__title {
      font-size: 50px;
      color: $clr_white;
      @media screen and (max-width: 1030px) {
        font-size: 40px;
      }
      @media screen and (max-width: 750px) {
        font-size: 30px;
      }
    }
    &__btn {
      font-size: 18px;
      font-family: PFDinTextPro-Regular, sans-serif;
      border-radius: 19px;
      color: $clr_white;
      border: 1px solid   $clr_white;
      text-decoration: none;
      width: 108px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      margin-top: 40px;
      transition: all 0.5s ease;
      &--pink {
        color: $clr_pink;
        border-color:  $clr_pink;
      }
    }
  }
}