.no-scroll {
  overflow: hidden;
}
.header-main {
  height: 80px;
  background-color: $clr_grey_bright;
  width: 100%;
  text-align: center;
}
.header {
  &__container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    position: relative;
  }
  &__logo {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    @media (max-width: 800px) {
      left: 60px;
    }
    img {
      width: 164px;
    }
  }
  &__right {
    position: absolute;
    right: 15px;
    top: 17px;
  }
  &__menu {
    display: inline-block;
    @media (max-width: 800px) {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(248, 248, 248, 0.9);
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: scale(0);
      transition: all 0.5s ease;
      z-index: 1;
      &--visible {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &__basket {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 33px;
    font-size: 17px;
    text-align: center;
    background-image: url(../img/icons/bag.png);
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-position: center center;
  }
  &__enter-btn {
    width: 90px;
    height: 40px;
    line-height: 33px;
    display: inline-block;
    border: 1px solid $clr_red;
    padding-left: 33px;
    background-image: url(../img/icons/person-dark.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-color: transparent;
    background-size: 12px 12px;
    color: $clr_black;
    border-radius: 19px;
    font: 18px PFDinTextPro-Light, sans-serif;
    cursor: pointer;
    @include clearfix();
    &--mobile {
      display: none;
      @media (max-width: 800px) {
        display: inline-block;
      }
    }
    &--desktop {
      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}
.menu {
  &__list-item {
    color: $clr_light_grey;
    display: inline-block;
    font: 20px PFDinTextPro-Light, sans-serif;
    margin-right: 37px;
    line-height: 80px;
    transition: color 0.5s ease;
    &:hover {
      color: $clr_red;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  @media (max-width: 800px) {
    &__list {
      padding-top: 80px;
      &-item {
        text-align: center;
        width: 100%;
        line-height: 40px;
      }
    }
  }
}
.hamburger {
  cursor: pointer;
  transform: rotateY(180deg);
  z-index: 700;
  display: none;
  position: relative;
  top: 4px;
  @media (max-width: 800px) {
    display: inline-block;
    transition: transform 0.5s;
  }
  &__bars {
    border-top: 3.5px solid $clr_red;
    display: block;
    width: 35px;
    transition: margin 0.5s, transform 0.5s;
    &:nth-child(2) {
      margin: 5px 0;
    }
  }
  &--open {
    z-index: 800;
    top: -8px;
    .hamburger__bars{
      border-top: 3px solid $clr_red;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        margin: -3px 0;
        opacity: 0;;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);;
      }
    }
  }
}
.header__humburger-container {
  float: left;
  line-height: 80px;
}