@import 'reset';
@import 'config/fonts';
@import 'config/vars';
@import 'config/mixins';
@import 'index/top-banner';
@import 'index/products-row';
@import 'index/info-block';
@import 'footer';

*, *::after, *::before {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font: 16px PFDinTextCompPro-Light, sans-serif;
  color: #000;
  line-height: 1.2;
  display: table;
  width: 100%;
}
main {
  height: 100%;
}
